node_red_ui.json
[
  {
      "id": "35406c29782ceb65",
      "type": "tab",
      "label": "Flow 1",
      "disabled": false,
      "info": "",
      "env": []
  },
  {
      "id": "1579055a57d05f21",
      "type": "ui_gauge",
      "z": "35406c29782ceb65",
      "name": "Gauge 1",
      "group": "231aea7e3852490e",
      "order": 2,
      "width": 9,
      "height": 3,
      "gtype": "gage",
      "title": "gauge1",
      "label": "units",
      "format": "{{value}}",
      "min": 0,
      "max": "10000",
      "colors": [
          "#00B500",
          "#E6E600",
          "#CA3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 1240,
      "y": 340,
      "wires": []
  },
  {
      "id": "f03fc7e55db11749",
      "type": "ui_gauge",
      "z": "35406c29782ceb65",
      "name": "",
      "group": "231aea7e3852490e",
      "order": 3,
      "width": 10,
      "height": 3,
      "gtype": "gage",
      "title": "gauge2",
      "label": "units",
      "format": "{{value}}",
      "min": 0,
      "max": 10,
      "colors": [
          "#00B500",
          "#E6E600",
          "#CA3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 1260,
      "y": 400,
      "wires": []
  },
  {
      "id": "121c57cbddb0698f",
      "type": "ui_gauge",
      "z": "35406c29782ceb65",
      "name": "",
      "group": "231aea7e3852490e",
      "order": 9,
      "width": 10,
      "height": 3,
      "gtype": "gage",
      "title": "gauge3",
      "label": "units",
      "format": "{{value}}",
      "min": 0,
      "max": 10,
      "colors": [
          "#00B500",
          "#E6E600",
          "#CA3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 1240,
      "y": 480,
      "wires": []
  },
  {
      "id": "6702f8d424b54596",
      "type": "ui_gauge",
      "z": "35406c29782ceb65",
      "name": "",
      "group": "231aea7e3852490e",
      "order": 10,
      "width": 10,
      "height": 3,
      "gtype": "gage",
      "title": "gauge4",
      "label": "units",
      "format": "{{value}}",
      "min": 0,
      "max": 10,
      "colors": [
          "#00B500",
          "#E6E600",
          "#CA3838"
      ],
      "seg1": "",
      "seg2": "",
      "x": 1260,
      "y": 540,
      "wires": []
  },
  {
      "id": "ce9e6048a5f128f9",
      "type": "ui_text",
      "z": "35406c29782ceb65",
      "group": "231aea7e3852490e",
      "order": 6,
      "width": 9,
      "height": 1,
      "name": "",
      "label": "Moisture",
      "format": "\"VALUE\"",
      "layout": "row-center",
      "x": 1240,
      "y": 240,
      "wires": []
  },
  {
      "id": "47844ca6f1f7070c",
      "type": "ui_text",
      "z": "35406c29782ceb65",
      "group": "231aea7e3852490e",
      "order": 12,
      "width": 5,
      "height": 1,
      "name": "Last Irrigation Time",
      "label": "Last Irrigation Time",
      "format": "{{msg.payload}}",
      "layout": "row-center",
      "x": 830,
      "y": 260,
      "wires": []
  },
  {
      "id": "a713381ac7b1d0f4",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 1,
      "width": 1,
      "height": 1
  },
  {
      "id": "238852612539ae7d",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 4,
      "width": 1,
      "height": 1
  },
  {
      "id": "2748cecf863e3fd9",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 5,
      "width": 1,
      "height": 1
  },
  {
      "id": "4945a62d5b3ee70c",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 7,
      "width": 11,
      "height": 1
  },
  {
      "id": "e85886bb08e1f344",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 8,
      "width": 20,
      "height": 1
  },
  {
      "id": "c94cce29ef50c3b6",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 11,
      "width": 12,
      "height": 1
  },
  {
      "id": "83d40e095d3bb313",
      "type": "ui_spacer",
      "z": "35406c29782ceb65",
      "name": "spacer",
      "group": "231aea7e3852490e",
      "order": 13,
      "width": 3,
      "height": 1
  },
  {
      "id": "231aea7e3852490e",
      "type": "ui_group",
      "name": "Default",
      "tab": "97e76d20f6297caf",
      "order": 2,
      "disp": true,
      "width": 20,
      "collapse": false
  },
  {
      "id": "97e76d20f6297caf",
      "type": "ui_tab",
      "name": "TestGauge1 Home",
      "icon": "dashboard",
      "disabled": false,
      "hidden": false
  }
]